version: '3.8'

services:
  symfony:
    build:
      context: ./symfony
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./symfony:/var/www/html
    depends_on:
      - db
    environment:
      - DATABASE_URL=mysql://symfony:symfony@db:3306/symfony

  vuejs:
    build:
      context: ./vuejs
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./vuejs:/app
      - /app/node_modules

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: